
@import "../style.css" layer(exercise);

@layer exercise {
    .card:not(:has(img)) {
    h3 {
        font-size: 1.6rem;
    }
}

.card:not(:has(img)) :not(:has(h3)) {
    p {
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

.card:has(img) {
    padding: 0;
    .content {
        padding: 1rem;
    }
}
}